/* Account Login
/*-----------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");

.app-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(rgba(1, 1, 1, 0.75), rgba(2, 3, 3, 0.35)),
    url("/images/cover.jpeg");
}

#login-dropdown-list {
  height: 200px;
  width: 400px;
}

.logged-out-message {
  margin: 1rem;
  text-align: center;
}

/* Common */

.login-wrapper {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.login-close-text {
  display: block;
  line-height: 1;
  visibility: hidden;
}

.login-close-text:after {
  content: "\2716";
  visibility: visible;
  position: absolute;
  top: 0;
  right: 0;
}

.accounts-dialog {
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  padding: 0.5rem 0.5rem 1rem;
  text-align: left;
}

.accounts-dialog label {
  margin-right: 0.5rem;
}

.accounts-dialog input {
  border: 0;
  border-bottom: 1px solid #8f8f8f;
  color: #8f8f8f;
  font-size: 0.9rem;
}

.accounts-dialog input:focus {
  border-bottom-color: #4ccbb0;
}

.login-link-and-dropdown-list {
  position: relative;
  text-align: right;
  height: 70px;
}

.login-link-text {
  color: white;
  font-size: 30px;
  margin-right: 70px;
  padding-right: 80px;
}

.login-close-text {
  position: relative;
}

.additional-link-container {
  display: inline-block;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}

[id="signup-link"],
[id="forgot-password-link"],
[id="back-to-login-link"] {
  cursor: pointer;
  text-decoration: underline;
}

[id="signup-link"]:hover,
[id="forgot-password-link"]:hover,
[id="back-to-login-link"]:hover {
  color: #4ccbb0;
}

[id="login-buttons-password"],
[id="login-buttons-open-change-password"],
[id="login-buttons-logout"] {
  cursor: pointer;
}

[id="login-buttons-open-change-password"]:hover {
  color: #4ccbb0;
}

[id="login-buttons-open-change-password"] {
  margin-bottom: 0.5rem;
  text-decoration: underline;
}

[id="login-buttons-logout"],
.login-button-form-submit {
  background-color: #a071b8;
  color: #31455a;
  display: block;
  padding: 0.25rem 0.5rem;
  text-align: center;
  font-size: 20px;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  margin-top: 50px;
}

[id="login-buttons-logout"]:hover,
.login-button-form-submit:hover {
  background-color: #4ccbb0;
}

[id="login-email-label-and-input"],
[id="login-old-password-label-and-input"],
[id="login-password-label-and-input"] {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  line-height: 1;
  height: 50px;
  font-size: 20px;
  font-family: Lato;
  margin-bottom: 0.5rem;
  background-color: #10b9c7 !important;
}

[id="login-password-label-and-input"],
[id="forgot-password-email-label-and-input"] {
  margin-bottom: 1rem;
}

.login-form .error-message {
  color: red;
  font-size: 0.85rem;
}

/* .login-form.login-password-form {
  background-color: rgb(51, 32, 139);
  height: 500px;
  width: 400px;
  display: flex;
  flex-direction: column;
}

#login-email-label-and-input {
  background-color: yellowgreen;
  height: 30px;
} */

/* body {
  background: #2d2d37;
} */
a {
  color: rgb(22, 89, 190);
  text-decoration: none;
}

.arrow {
  text-align: center;
  /* margin: 8% 0; */
}

.svg-inline--fa {
  color: #10b9c7;
  font-size: 70px;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 250px;
}

/* .login-link-and-dropdown-list {
  bac
} */

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

#login-email {
  width: 100%;
  height: 40px;
  border-radius: 10px;
}

#login-email-label {
  position: absolute;
  bottom: 2px;
}

#login-password-label {
  position: absolute;
  top: 124px;
}

#login-password {
  width: 94%;
  height: 40px;
  border-radius: 10px;
  position: absolute;
  top: 150px;
}
