.buttons {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  text-align: center;
  background-color: #cdcdcd;
}
.driver {
  width: 300px;
  padding: 10px 0;
  margin: 10px 0;
  text-shadow: -1px -1px 0 #a84155;
  background: #d25068;
  border: 1px solid #d25068;
}
.passenger {
  width: 300px;
  padding: 10px 0;
  margin: 10px 0;
  text-shadow: -1px -1px 0 #2c7982;
  background: #3eacba;
  border: 1px solid #379aa4;
}
